:root {
    --font1: "Open Sans", sans-serif;
    --lightgreen: #e4edd9;
    --highlightgreen: #7ed957;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(white, var(--lightgreen));
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 10px;
}

.top-bar,
.menu,
.top-bar-right {
    background-color: white !important;
}

.text-black {
    color: black;
    font-family: var(--font1);
    font-weight: 500;
}

.dropdown li {
    padding-right: 7px;
    padding-left: 7px;
}

.title-bar {
    background: var(--lightgreen);
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-bottom-width: 0;
    border-color: var(--lightgreen) transparent transparent;
}

.text-black:hover {
color: green;
}

.dropdown.menu>li.is-active>a {
    color: green;
}

a:focus {
    color: darkgreen;
}

.main {
    min-height: 80vh;
}

.main-image {
    padding: 10px;
}

.slogan {
    font-family: var(--font1);
    font-size: 50px;
    font-weight: 700;
}

.highlight {
    color: var(--highlightgreen);
    text-transform: uppercase;
}

.button {
    font-family: var(--font1);
    font-weight: 700;
    background: var(--highlightgreen);
    border-radius: 16px;
    margin-top: 30px;
    padding: 30px 50px;
}

.button:hover {
    background: lightgreen;
}

.button.large {
    font-size: 1.7rem;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 640px){
    .button {
        margin-left: 10%;
        margin-right: 10%;
    }
    .slogan {
        margin-left: 10%;
    }

    .main-left {
        text-align: left;
        display: block;
    }
}