:root {
    --font1: "Open Sans", sans-serif;
    --lightgreen: #e4edd9;
    --highlightgreen: #7ed957;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(white, var(--lightgreen));
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 10px;
}

#logo:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.top-bar,
.menu,
.top-bar-right {
    background-color: white !important;
}

.text-black {
    color: black;
    font-family: var(--font1);
    font-weight: 500;
}

.dropdown li {
    padding-right: 7px;
    padding-left: 7px;
}

.title-bar {
    background: var(--lightgreen);
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-bottom-width: 0;
    border-color: var(--lightgreen) transparent transparent;
}

.text-black:hover {
color: green;
}

.dropdown.menu>li.is-active>a {
    color: green;
}

a:focus {
    color: darkgreen;
}

.main {
    min-height: 80vh;
}

.main-image {
    padding: 10px;
}

.slogan {
    font-family: var(--font1);
    font-size: 50px;
    font-weight: 700;
}

.highlight {
    color: var(--highlightgreen);
    text-transform: uppercase;
}

.button {
    font-family: var(--font1);
    font-weight: 700;
    background: var(--highlightgreen);
    border-radius: 16px;
    margin-top: 30px;
    padding: 30px 50px;
}

.button:hover {
    background: lightgreen;
}

.button.large {
    font-size: 1.7rem;
}

.main-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-container {
    width: 100%;
}

.about-section {
    text-align: center;
}

h2 {
    font-weight: 800;
    color: var(--highlightgreen);
    margin-bottom: 20px;
    font-size: 40px;
}

h3 {
    font-weight: 200;
}

.team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.team-member:hover .headshots{
    opacity: 1;
}

.headshots {
    width: 110px;
    height: 120px;
    border-radius: 50%;
    opacity: .65;
    transition: opacity .5s;
}

.about-section {
    margin-bottom: 40px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.name-section {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.explanation {
    color: black;
    line-height: 1.6;
    font-weight: 300;
    font-size: 18px;
    box-shadow: 0px 0px 10px var(--lightgreen);
    padding: 20px;
    border-radius: 20px;

}

.top-about {
    background: url(../images/RecipepageBackground.png);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media only screen and (min-width: 640px){
    .button {
        margin-left: 10%;
        margin-right: 10%;
    }
    .slogan {
        margin-left: 10%;
    }

    .main-left {
        text-align: left;
        display: block;
    }
}